Source: libdisplaycore-icons-gentleface32
Section: libraries
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-icons-gentleface32
Section: libraries
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Icons
Depends: libdisplaycore-core
Provides: Gentleface32.h
Description: Gentleface32 library
 The GentleFace icon set in a 32x32 size for the MonoIcon widget system



